recursive-include doc *
recursive-include po *
recursive-include scenarios *
recursive-include scripts *
recursive-include tests *
recursive-include tools *
include . *.dtd *.rng
include . AUTHORS ChangeLog CODING COPYING INSTALL NEWS README* TODO